$primary-color: #fafafa;
$secondary-color: #678159;
$tertiary-color: #C49F87;
$quartenary-color: #0B4F47;

$text-primary-color: #201E1F;
$font-stack: 'IBM Plex Sans', sans-serif;
$paragraph-size: 1.5em;

$layout-breakpoint-large: 1024px;
$layout-breakpoint-small: 480px;

@mixin flexCenter($direction, $content, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

@mixin buttonStyle {
    button {
        background: none;
        border-style: none;
    }
}

// large screens

@media (min-width: $layout-breakpoint-large) {
    nav {
        #menu {
            display: none;
        }
    }
    header {
        @include flexCenter(row-reverse, space-between, center);
        text-align: start;

        .hero-info {
            @include flexCenter(column, space-evenly, flex-start);
            gap: 25px;
        }
    }
    .cards {
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 6em;
    }

    #about {
        .mission-section {
            @include flexCenter(row, space-evenly, center);
        }
    }
  };

// small screens

@media (max-width: $layout-breakpoint-small) {
    nav {
        #nav-icons {
            display: none;
        }
    }
}

* {
    box-sizing: border-box;
};

body {
    background-color: $primary-color;
    color: $text-primary-color;
    font-family: $font-stack;
    margin: 0;
    padding: 1em;
}

nav {
    @include flexCenter(row, space-between, center);
    font-size: x-large;

    #nav-icons {
        @include buttonStyle;
        color: $text-primary-color;
    }
}

header {
    font-size: 1.25em;

    img {
        width: 100%;
        max-width: 25em;
        height: auto;
        border-radius: 20px;
    };
    
    .hero-info {
        @include flexCenter(column, center, start);
        width: -webkit-fill-available;
        
        h1 {
            font-weight: 500;
            margin-bottom: 0.25em;
            margin-top: 0.25em;
        }
        
        p {
            font-weight: lighter;
            // text-align: center;
            padding-bottom: 0.25em;
        }
    }

    @include buttonStyle;
    button {
        padding: 20px;
        width: 20em;
        background-color: $quartenary-color;
        color: white;
        border-radius: 20px;
        font-weight: bold;
        font-size: large;
        letter-spacing: 0.03em;
    }
}

.products {

    .cards {
        svg {
            display: none;
        }
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;

        .card-item {
            width: 15em;
            height: 22em;
            margin: 10px;
            border-radius: 8px;
            display: inline-block;
            color: white;
            background-color: $secondary-color;
    
            // .card-icon {
            //     // position: absolute;
            //     // display: flex;
            //     // justify-content: end;
            // }
            .card-img {
                height: 235px;
                width: 100%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 8px 8px 0 0;
        
                img {
                    height: 180px;
                    width: 100%;
                }
            }
        
            .card-description {
                padding: 0.75em;
                margin: 0;
                width: 150px;
                width: 200px;
                
                .title {
                    margin: 0;
                    font-size: large;
                    font-weight: bold;
                    letter-spacing: 0.25px;
                }
        
                .card-text {
                    
                    .description {
                        margin: 0;
                        text-wrap: wrap;
                        font-size: medium;
                    }
                }
            }
        }
    }
}

#furniture {
    .card-item {
        background-color: $tertiary-color;
    }
}

#about {
    .mission-section {
        // @include flexCenter(column, center, center);
        margin: auto;
        text-align: center;
    }
}
